.footer {
    min-height: 10vh;
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(186, 239, 224);
    background-color: rgb(10, 161, 73);
}
